body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* margin-left: 20px;
    margin-right: 20px; */
    padding-left: 10px;
    /* padding-right: 10px; */
    /* border: 1px solid black; */
}
@media only screen and (max-width: 678px) {

    #header {
        flex-direction: column;   /* Logo upar, nav niche */
        gap: 10px;
        padding: 10px;
    }

    nav {
        flex-direction: column;   /* Links ek-ek line me */
        gap: 10px;
        font-size: 18px;
    }

    #port {
        font-size: 24px;
        margin-left: 0;   /* Mobile me negative margin hatao */
    }

    body {
        padding-left: 5px;
        padding-right: 5px;
    }

    #pro {
        flex-direction: column; /* Project cards mobile me niche aa jaye */
        padding: 20px;
    }

    #proj1, #proj2, #proj3, #proj4, 
    #proj5, #proj6, #proj7, #proj8, 
    #proj9, #proj10, #proj11 {
        width: 100%;         /* 700px hatao */
        height: 200px;
    }
}
#header {
   
    background-color: #f0f0f0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    ;
    /* margin-bottom: 40px; */

}

nav {
   
    color: black;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-evenly;
    gap: 30px;
    /* margin-right: 20px; */
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    /* color: #007BFF; */
}

a:hover {
    color: #007BFF;
}

#port {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-items: center;
    color: black;
    cursor: pointer;
    margin-left: -30px;
    /* margin-right: -200px; */
    padding-left: 10px;

}

.space {
    width: 100%;
    border-bottom: 2px solid #ccc;
}

#heading {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 50px;
    text-decoration: none;
    cursor: pointer;
    /* padding-left: 10px; */
}

#heading:hover {
    color: brown;

}

#link {
    display: flex;
    align-items: center;
}

strong {
    text-decoration: underline;
}

/* project */
#proj1,
#proj2,
#proj3,
#proj4,
#proj5,
#proj6,
#proj7,
#proj8,
#proj9,
#proj10,
#proj11 {
    border: 1px solid black;
    width: 700px;
    height: 300px;
    /* margin: 20px; */
    /* padding: 20px; */
}

#pro {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 5px;
    padding: 50px;
}

#heading1 {
    text-align: center;
    text-decoration: underline;
}

button {
    margin: 3px;
    padding: 5px;
    background-color: yellow;
    box-sizing: border-box;
    cursor: pointer;
}

#proj1 {
    background-image: url("img/wordpress.jpeg");
    background-size: cover;
}

#proj2 {
    background-image: url("img/wordpress2.jpeg");
    background-size: cover;
}

#proj3 {
    background-image: url("img/insta.jpeg");
    background-size: cover;
}

#proj4 {
    background-image: url("img/visit.jpeg");
    background-size: cover;
}

#proj5 {
    background-image: url("img/code.jpeg");
    background-size: cover;
}

#proj6 {
    background-image: url("img/blackjack.jpeg");
    background-size: cover;
}

#proj7 {
    background-image: url("img/pokemon.jpeg");
    background-size: cover;
}

#proj8 {
    background-image: url("img/google.jpeg");
    background-size: cover;
}

#proj9 {
    background-image: url("img/rock.jpeg");
    background-size: cover;
}

#proj10 {
    background-image: url("img/we\'rfamily.jpeg");
    background-size: cover;
}

#proj11 {
    background-image: url("img/pot.jpeg");
    background-size: cover;
    margin-left: 130px;
}

#idis,
#vdis,
#sdis,
#bdis,
#pdis,
#gdis,
#rdis {
    display: flex;
}

#icodeDisplay,
#vcodeDisplay,
#scodeDisplay,
#bcodeDisplay,
#pcodeDisplay,
#gcodeDisplay,
#rcodeDisplay {
    display: flex;
    font-size: 8px;
}

#iantc,
#oc {
    display: flex;
    gap: 100px;
}

#ic,
#ac,
#sc {
    display: flex;
}

#certimg {
    display: flex;
    width: 250px;
    margin-top: 50px;
    border-radius: 5px;
    border: 2px solid black;

}

#middline {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: green;
}
#contact{
    display: flex;
    font-size: 25px;
    margin-top: 20px;
    text-wrap: wrap;
    gap: 150px;
}